.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
  height: 40%;
}

img {
  width: 50%;
}

h1 {
  font-size: 5vw;
  color: #6d396b;
}
